<div
  class="container min-vh-100 d-flex align-items-center justify-content-center"
>
  <div class="auth-card mx-auto">
    <div class="card-header text-center">
      <h3 class="card-title">Registrierung</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label class="form-label">Benutzername</label>
          <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="mb-3">
          <label class="form-label">Passwort</label>
          <input type="password" class="form-control" placeholder="" />
        </div>
        <div class="mb-4">
          <label class="form-label">Team auswählen</label>
          <select class="form-select form-control">
            <option value="red">Rot</option>
            <option value="green">Grün</option>
            <option value="blue">Blau</option>
          </select>
        </div>
        <button type="submit" class="btn btn-auth w-100 mb-3">
          Registrieren
        </button>

        <span class="divider"></span>

        <div class="text-center mt-3">
          <a routerLink="/login" class="link-secondary"
            >Bereits registriert? Anmelden</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
