<div
  class="container min-vh-100 d-flex align-items-center justify-content-center"
>
  <div class="auth-card mx-auto">
    <div class="card-header text-center">
      <h3 class="card-title">Login</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="mb-4">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="" />
        </div>
        <button type="submit" class="btn btn-auth w-100 mb-3">Send</button>

        <span class="divider"></span>

        <div class="text-center mt-3">
          <a routerLink="/register" class="link-secondary">New User?</a>
        </div>
      </form>
    </div>
  </div>
</div>
